export ALPHA_KEY=<ALPHA_API_KEY>
export NEWS_KEY=<NEWS_API_KEY>
export TWILIO_SID=<TWILIO_SID>
export TWILIO_AUTH=<TWILIO_AUTH_TOKEN>
export MY_PHONE=<AUTHORIZED_TWILIO_PHONE-NUMBER>
export TWILIO_PHONE=<TWILIO_SENDING_PHONE-NUMBER>