{% extends "base.html" %}
{% block body %}
<div class="wrapper">
{% if user %}
    <div class="top">
        <h1 class="title">Hello {{ user['name'].title() }}!</h1>
    </div>
    <div class="content">
        <div class="card">
            <p>You're a {{ user['gender'] }}</p>
            <p>And probably {{ user['age'] }} years old</p>
        </div>
    </div>
{% else %}
    <div class="top">
        <h1 class="title">Hello!</h1>
    </div>
    <div class="content">
        <div class="card">
            <p>Please provide a name</p>
            <form method="get">
                <input type="text" name="name" placeholder="Your name here">
                <button type="submit">
                    submit
                </button>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}