{% extends 'base.html' %}
{% block content %}
<h1>Guess a number between 0 and 9</h1>
<img src='https://media.giphy.com/media/3o7aCSPqXE5C6T8tBC/giphy.gif'/>
<table>
    <tr>
        <td><a class="button" href='/1'>1</a><a class="button" href='/2'>2</a><a class="button" href='/3'>3</a></td>
    </tr>
    <tr>
        <td><a class="button" href='/4'>4</a><a class="button" href='/5'>5</a><a class="button" href='/6'>6</a></td>
    </tr>
    <tr>
        <td><a class="button" href='/7'>7</a><a class="button" href='/8'>8</a><a class="button" href='/9'>9</a></td>
    </tr>
</table>
</form>
{% endblock %}