body {
    margin: 0;
    color: white
}
nav {
    position: fixed;
    margin: 10px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}
.favicon {
    height: 20px;
    width: 20px;
}
@font-face {
    font-family: SourceCodePro;
    src: url(fonts/SourceCodePro-Regular.ttf);
    }
@font-face {
    font-family: SourceCodePro-Italic;
    src: url(fonts/SourceCodePro-Italic.ttf);
}
.main {
    background: url(../images/network.svg) no-repeat right, linear-gradient(180deg, #9df3c4, #d7fbe8);
    height: 90vh;
    display: grid;
}
.main-text {
    place-self: center;
}
.main-name {
    text-align: center;
    font-family: SourceCodePro;
    color: #000099;
}
.main-description {
    font-family: SourceCodePro-Italic;
    color: #000070;
}
.about {
    height: 90vh;
    display:grid;
    background: linear-gradient(180deg, #d7fbe8, #9df3c4);
}
.contact {
    height: 90vh;
    display:grid;
    background: linear-gradient(180deg, #9df3c4, #d7fbe8);
}
.contact-main {
    position: relative;
    place-self: center;
    width: 50%;
    border-radius: 15px;
    background: white;

    text-align: center;
    margin: 10px;
    padding: 10px;
}
.contact-main-text {
    margin: 10px;
    color: #000099;
    font-family: SourceCodePro;
}