body {
    margin: 0;
}
nav {
    position: fixed;
    margin: 10px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}
.favicon {
    height: 20px;
    width: 20px;
}
@font-face {
    font-family: SourceCodePro;
    src: url(fonts/SourceCodePro-Regular.ttf);
    }
@font-face {
    font-family: SourceCodePro-Italic;
    src: url(fonts/SourceCodePro-Italic.ttf);
}
.main {
    background: url(../images/network.svg) no-repeat right, linear-gradient(180deg, #0f3057, #e7e7de);
    height: 90vh;
    display: grid;
}
.main-text {
    place-self: center;
}
.main-name {
    text-align: center;
    font-family: SourceCodePro;
}
.main-description {
    font-family: SourceCodePro-Italic;
}
.about {
    height: 105vh;
    display:grid;
    background: linear-gradient(180deg, #e7e7de, #0f3057);
}
.contact {
    height: 95vh;
    display:grid;
    background: linear-gradient(180deg, #0f3057, #e7e7de);
}
.contact-main {
    position: relative;
    place-self: center;
    width: 50%;
    border-radius: 15px;
    background: white;

    text-align: center;
    margin: 10px;
    padding: 10px;
}
.contact-main-text {
    margin: 10px;
    color: #00587a;
    font-family: SourceCodePro;
}