body {
    font-family: Arial, sans-serif;
    color: #000070;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
nav {
    display: block;
    background: #9df3c4;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
nav li {
    float: left;
    width: 50%;
}
nav li a {
  display: block;
  padding: 8px;
  margin: 1px;
  text-align: center;
  color: #1fab89;
  background-color: #d7fbe8;
}