.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 20% 0 20%;
}
.profile_picture {
    border-radius: 50%;
}
.heading {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: flex-end;
}